<% content_for :head do %>
  <%= javascript_include_tag "user" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t ".my settings" %></h1>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to t(".return to profile"), user_path(current_user) %></li>
    <li><%= link_to t("users.show.oauth settings"), :controller => "oauth_clients", :action => "index" %></li>
  </ul>
<% end %>

<%= bootstrap_form_for current_user, :url => { :action => :account }, :method => :post, :html => { :multipart => true, :id => "accountForm", :autocomplete => :off } do |f| %>
<% end %>

<% unless current_user.data_public? %>
<a name="public"></a>
<h2><%= t ".public editing note.heading" %></h2>
<%= t ".public editing note.html" %>
  <%= button_to t(".make edits public button"), :action => :go_public %>
<% end %>
